<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <context:annotation-config/>

    <context:component-scan base-package="com.sidlu.controller"/>
    <context:component-scan base-package="com.sidlu.dao"/>
    <context:component-scan base-package="com.sidlu.service"/>
    <context:component-scan base-package="com.sidlu.aop"/>

    <mvc:annotation-driven enable-matrix-variables="true">

        <mvc:message-converters>
            <!-- default StringHttpMessageConverter, solve encoding problem -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
                <property name="writeAcceptCharset" value="false"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 启动AOP支持111 -->
    <aop:aspectj-autoproxy/>

    <mvc:default-servlet-handler/>

    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="viewNames" value="*.jsp"/>
        <property name="cache" value="true"/>
        <property name="order" value="1"/>
    </bean>
    <!---->
</beans>